body {
    background-color: #362b67;
}

/* .b {
    border: 1px solid red;
} */
.bc{
    /* background-color: #17192b; */
    padding: 5px;
    font-family: serif;
    font-size: 1.3rem;
    color: #000;
}
input {
    display: block;
    min-width: 500px;
    height: 40px;
    margin: auto;
    margin-top: 200px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.card {
    width: 600px;
    margin: auto;
    /* border: 2px solid red; */
    padding: 15px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    background-color: #5565da;
    color: white;
}

.img {
    /* width: 32%; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: linear-gradient(red,blue,green,yellow,pink);
    padding: 2px;
    border-radius: 100%;
    margin: auto;

}

.img img {
    width: 150px;
    border-radius: 100%;
}

.info {
    width: 65%;
}
.name{
    font: 1em sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}
.bio{
    margin: 14px 0;
}

.span2{
    display: inline-block;
    width: 40%;
}
.span1{
    display: block;
}
.repo{
    margin: 20px;
    padding: 0;
    cursor: pointer;
    color: #101010;
    background-color: white;
}